body{
  background-color:rgb(165, 132, 247);
}
h1{
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
}
.incre{
  height: 50px;
  width: 200px;
  margin-left: 37%;
  background-color: blueviolet;
  color:white;
  font-size: 30px;
}
.decre{
  height: 50px;
  width: 200px;
  margin-left: 5%;
  background-color: blueviolet;
  color:white;
  font-size: 30px;
}
.reset{
  height: 50px;
  width: 200px;
  margin-left: 45%;
  margin-top: 50px;
  background-color: blueviolet;
  color:white;
  font-size: 30px;

}